DirectoryIndex index.php

#Enable rewrite engine
RewriteEngine on

#Set the base sould be / not /projects/oop_course/public/
RewriteBase /projects/oop_course/public/

#Deliver files and folders if they exist
RewriteCond %{REQUEST_FILE} !-f
RewriteCond %{REQUEST_FILE} !-d

#Push every request to the index.php
RewriteRule ^(.*)$ index.php [QSA]